.curriculum-card {
  display: grid;
  border-radius: 10px;
  grid-template-columns: 35% 65%;
  width: 90rem;
  height: fit-content;
  background: rgb(255, 255, 255);
  overflow: hidden;
  margin: 1%;
}

.personal-data {
  background: rgb(60, 45, 162);
  height: 100%;
  width: 100%;
  background: linear-gradient(
    180deg,
    rgba(60, 45, 162, 1) 0%,
    rgba(87, 87, 223, 1) 100%
  );
  padding-top: 90%;
  padding-left: 1%;
  padding-right: 1%;
  text-align: center;
}
.profile-title p {
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
}
.profile-name {
  color: white;
  font-weight: bolder;
  font-size: 1.6rem;
}
.profile-text {
  margin-bottom: 5%;
}

.profile-text .personal-data-container {
  display: flex;
  color: white;
  font-weight: 600;
  font-size: 1rem;
  padding-left: 8%;
  margin-bottom: 1%;
}
.profile-text .pdataAttribute {
  text-align: start;
  width: 100px;
}
.profile-text .pdataValue {
  font-weight: 200;
}
.experience-data {
  height: 100%;
  width: 100%;
  padding: 5%;
  text-align: justify;
}
.sn-icon {
  color: rgba(255, 255, 255, 0.7);
  font-size: 3em;
  margin: 1%;
}

.fas {
  font-size: 2em;
  color: rgb(32, 32, 85);
}
.fa-certificate {
  color: rgb(172, 172, 76);
}

.section-title {
  height: 100%;
}
.section-title span {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1%;
  color: rgb(68, 160, 72);
}
.section {
  height: fit-content;
}

.section-body {
  color: rgb(139, 139, 139);
  height: 100%;
  width: 100%;
  margin-bottom: 3%;
}

.desc-text {
  font-size: 1.1rem;
}
.exp-title {
  font-weight: bolder;
}

.section-body .filled {
  color: cornflowerblue;
}
.skills {
  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 2%;
  overflow: hidden;
}
.skillsContainer {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}
.skill-title {
  /* background: blueviolet; */
  width: 100px;
}
